@import "@rtcamp/frappe-ui-react/theme";
@import "tailwindcss";
@source "../../../node_modules/@rtcamp/frappe-ui-react/dist";

#root {
    isolation: isolate; 
}

body {
  position: relative;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: transparent;
}

.isResizing {
  background-color: #dedfe091;
}

.custom-resource-management-team-view-bg {
  background-color: rgba(247, 150, 150, var(--bg-opacity)) !important;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
#root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.hover-content a {
  text-decoration: underline;
  color: hsl(var(--foreground));
}

/** TimeLine CSS overwrite*/
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: none !important;
  border-color: rgb(209 213 219) !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-event {
  border-color: rgb(209 213 219) !important;
}

.rct-day-0,
.rct-day-6 {
  background: transparent !important;
  border: 0;
}

.rct-day-0-today {
  border-right: 1px solid;
}

.rct-day-6-today {
  border-left: 1px solid;
}

.rct-scroll {
  cursor: cell !important;
  -webkit-cursor: cell !important;
  -moz-cursor: cell !important;
}

.justify-normal-overide{
  justify-content: normal !important
}

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-success: hsl(var(--success));
  --color-success-foreground: hsl(var(--success-foreground));

  --color-warning: hsl(var(--warning));
  --color-warning-foreground: hsl(var(--warning-foreground));

  --color-custom-amber: rgb(244 215 154);
  --color-custom-pink: rgb(255 180 176);
  --color-custom-yellow: rgb(254 248 160);
  --color-custom-green: rgb(174 221 148);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-left: fade-left 0.2s ease;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}