@tailwind base;
@tailwind components;
@tailwind utilities;

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: transparent;
}

.isResizing {
  background-color: #dedfe091;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-resource-management-team-view-bg {
  background-color: rgba(247, 150, 150, var(--bg-opacity)) !important;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
#root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}


/** TimeLine CSS overwrite*/
.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-odd,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  background: none !important;
  border-color: rgb(209 213 219) !important;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row.rct-sidebar-row-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-event {
  border-color: rgb(209 213 219) !important;
}

.rct-day-0,
.rct-day-6 {
  background: transparent !important;
  border: 0;
}

.rct-day-0-today {
  border-right: 1px solid;
}

.rct-day-6-today {
  border-left: 1px solid;
}

.rct-scroll {
  cursor: cell !important;
  -webkit-cursor: cell !important;
  -moz-cursor: cell !important;
}