.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
dist/
.frappe-semgrep
next_pms/www/next-pms/index.html
next_pms/public/frontend/

# Playwright reports
tests/e2e/playwright-report/
tests/e2e/test-results/
tests/e2e/results.json

#Allure reports
tests/e2e/allure-report/
tests/e2e/allure-results/

# Authentication files
tests/e2e/auth/**

# Dynamically generated temp files
tests/e2e/data/**/shared*
tests/e2e/data/manager/tasks-to-delete.json

# Env file
.env