BASE_URL=https://erp-qe.rt.gw
ADMIN_ID=EMP-00144
ADMIN_EMAIL=juhi.saxena@rtcamp.com
ADMIN_PASS=iS249Gw1uI2y
ADMIN_NAME=Juhi Saxena

REP_MAN_ID=EMP-00526
REP_MAN_EMAIL=shraddha.gore@rtcamp.com
REP_MAN_PASS=iS249Gw1uI2y
REP_MAN_NAME=Shraddha Gore

EMP_ID=EMP-00089
EMP_EMAIL=abhishek.kumar@rtcamp.com
EMP_PASS=2vg4UU6x5mUU
EMP_NAME=Abhishek Kumar

EMP2_ID=EMP-00484
EMP2_EMAIL=manoj.maharrshi@rtcamp.com
EMP2_PASS=2vg4UU6x5mUU
EMP2_NAME=Manoj Maharrshi R M

EMP3_ID=EMP-00319
EMP3_EMAIL=abhishek.sharma@rtcamp.com
EMP3_PASS=2vg4UU6x5mUU
EMP3_NAME=Abhishek Sharma

