/* @import "@next-pms/design-system/design-system.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
.resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: transparent;
}

.isResizing {
  background-color: #dedfe091;
}

.custom-resource-management-team-view-bg {
  background-color: rgba(247, 150, 150, var(--bg-opacity)) !important;
}

html,
#root {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
